<h3>Update Car</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">

      <label class="required" for="type">Type</label>
      <select [(ngModel)]="car.type" class="form-control" id="type" name="type" required>
        <option *ngFor="let key of keys" [label]="carTypes[key]" [value]="carTypes[key]"></option>
      </select>

      <label class="required" for="plateNumber">Plate Number</label>
      <input [(ngModel)]="car.plateNumber" class="form-control" id="plateNumber" name="plateNumber" required
             type="text">

      <div class="toast-header my-3">New Coordination:</div>
      <label for="latitude">Latitude</label>
      <input [(ngModel)]="coordination.latitude" class="form-control" id="latitude" name="latitude"
             type="text">

      <label for="longitude">Longitude</label>
      <input [(ngModel)]="coordination.longitude" class="form-control" id="longitude" name="longitude"
             type="text">

    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
