<h2>Car Coordinations</h2>

<hr/>
<div *ngIf="car">
  <div>

    <div>
      <label><b>Type: </b></label> {{car.type}}
    </div>

    <div>
      <label><b>Coordinations: </b></label>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let coordination of car.coordinations">
          <button type="button" class="btn btn-primary">{{coordination.latitude}}</button>
          <button type="button" class="btn btn-danger">{{coordination.longitude}}</button>
        </li>
      </ul>
    </div>

  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Car List</button><br>
