<h2>Car Coordinations</h2>

<hr/>
<div *ngIf="car">
  <div>

    <ul class="list-group">
      <li *ngFor="let coordination of car.coordinations" class="list-group-item">
        <label><b>Latitude: </b></label>
        <span class="mr-3">{{coordination.latitude}}</span>
        <label><b>Longitude: </b></label>
        <span class="mr-3">{{coordination.longitude}}</span>
        <label><b>Update Time: </b></label>
        <span class="mr-3">{{coordination.createdDate}}</span>
      </li>
    </ul>

  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Car List</button><br>
